/* Font Icons */
.icon {
    display:inline-block;
    font-family:'ios7-icon';
    -webkit-text-rendering:geometricPrecision;
    -moz-text-rendering:geometricPrecision;
    -ms-text-rendering:geometricPrecision;
    -o-text-rendering:geometricPrecision;
    text-rendering:geometricPrecision;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    font-style:normal;
    text-shadow:none;
}
[class*="sa-"] {
    background-position:center;
    background-repeat:no-repeat;
}
/* Left Menu */
[class*="sa-side-"] {
    width:44px;
    height:44px;
}
.sa-side-home {
    background-image:url(../img/icon/home.png);
}
.sa-side-bpm {
    background-image:url(../img/icon/bpm.png);
}
.sa-side-topo {
    background-image:url(../img/icon/topo.png);
}
.sa-side-tsotage {
    background-image:url(../img/icon/tsotage.png);
}
.sa-side-alarm {
    background-image:url(../img/icon/alarm.png);
}
.sa-side-form {
    background-image:url(../img/icon/form.png);
}
.sa-side-sets {
    background-image:url(../img/icon/sets.png);
}
.sa-side-typography {
    background-image:url(../img/icon/typography.png);
}
.sa-side-widget {
   background-image:url(../img/icon/widgets.png);
}
.sa-side-sysTool {
   background-image:url(../img/icon/systemTool.png);
}
.sa-side-sysData {
    background-image:url(../img/icon/systemData.png);
 }
.sa-side-log {
	background-image:url(../img/icon/log.png);
}
.sa-side-table {
    background-image:url(../img/icon/table.png);
}
.sa-side-ui {
    background-image:url(../img/icon/ui.png);
}
.sa-side-folder {
    background-image:url(../img/icon/folder.png);
}
.sa-side-calendar {
    background-image:url(../img/icon/calendar.png);
}
.sa-side-page {
    background-image:url(../img/icon/pages.png);
}
.sa-side-chart {
    background-image:url(../img/icon/chart.png);
}
.sa-side-photos {
    background-image:url(../img/icon/photos.png);
}
/*************新增左侧图标CSS*************/
.sa-side-slt {
    background-image: url(../img/icon/ui.png);
}
.sa-side-db {
    background-image: url(../img/icon/db.png);
}
.sa-side-tuli{
    background-image: url(../img/icon/tuli.png);
}
.sa-side-save{
    background-image: url(../img/icon/save.png);
}
.sa-side-delete{
    background-image: url(../img/icon/delete.png);
}
.sa-side-pic{
    background-image: url(../img/icon/pic.png);
}
.sa-side-view{
    background-image: url(../img/icon/view.png);
}
.sa-side-map{
    background-image: url(../img/icon/map.png);
}
.sa-side-sts{
    background-image: url(../img/icon/sts.png);
}
.sa-side-ads{
    background-image: url(../img/icon/ads.png);
}
.sa-side-his{
    background-image: url(../img/icon/his.png);
}
.sa-side-data{
    background-image: url(../img/icon/data.png);
}
/* .sa-side-formset {
    background-image: url(../img/icon/formset.png);
} */
/*--------------------------------------------*/
.sa-side-network {
    background-image: url(../img/icon/network.png);
}
.sa-side-ip {
    background-image: url(../img/icon/ip.png);
}
.sa-side-custom {
    background-image: url(../img/icon/custom.png);
}
.sa-side-web {
    background-image: url(../img/icon/web.png);
}
.sa-side-oracle{
    background-image: url(../img/icon/upload.png);
}
.sa-side-mysql{
    background-image: url(../img/icon/week.png);
}
.sa-side-sqlserver{
    background-image: url(../img/icon/pages.png);
}
.sa-side-url{
    background-image: url(../img/icon/url.png);
}
.sa-side-baowenJy{
    background-image: url(../img/icon/baowenJy.png);
}
.sa-side-observationPoint{
   background-image: url(../img/icon/observationPoint.png);
}
.sa-side-userSide{
    background-image: url(../img/icon/userSide.png);
}
.sa-side-serverSide{
    background-image: url(../img/icon/serverSide.png);
}
.sa-side-words{
    background-image: url(../img/icon/words.png);
}
.sa-side-linetoConcat{
    background-image: url(../img/icon/linetoConcat.png);
}
.sa-side-roundedBox{
    background-image: url(../img/icon/roundedBox.png);
}
.sa-side-skip{
    background-image: url(../img/icon/skip.png);
}
.sa-top-refresh {
	background-image: url(../img/icon/refresh.png);
}
.sa-sidebar-toTop{
    background-image: url(../img/icon/sidebarTotop.png);
}
.sa-sidebar-toBottom{
    background-image: url(../img/icon/sidebarTobottom.png);
}
 .sa-side-formset{
    background-image: url(../img/icon/fromSet.png);
} 
.sa-side-fromManage{
    background-image: url(../img/icon/fromManage.png);
} 
.sa-side-formPlan{
    background-image: url(../img/icon/formPlan.png);
} 
.sa-side-formhistory{
    background-image: url(../img/icon/fromHistory.png);
}
.sa-side-webServer{
    background-image: url(../img/icon/webServer.png);
}
.sa-side-wordRoundBox{
    background-image: url(../img/icon/wordRoundBox.png);
}
/*
 * 新增图标
 */
.sa-side-aDedicatedLine{
    background-image: url(../img/icon/aDedicatedLine.png);
}
.sa-side-branch{
    background-image: url(../img/icon/branch.png);
}
.sa-side-databaseService{
    background-image: url(../img/icon/databaseService.png);
}
.sa-side-firewall{
    background-image: url(../img/icon/firewall.png);
}
.sa-side-loadBalancing{
    background-image: url(../img/icon/loadBalancing.png);
}
.sa-side-middleware{
    background-image: url(../img/icon/middleware.png);
}
.sa-side-router{
    background-image: url(../img/icon/router.png);
}
.sa-side-switchboard{
    background-image: url(../img/icon/switchboard.png);
}
.sa-side-thirdPartyBusiness{
    background-image: url(../img/icon/thirdPartyBusiness.png);
}


.ta-plus {
	background-image: url(../img/icon/plus.png);
	display: inline-block;
	width: 9px;
	height: 9px;
}
.ta-minus {
	background-image: url(../img/icon/minus.png);
	display: inline-block;
	width: 10px;
	height: 11px;
}
.lineae {
	margin-left:10px;
	width:25px;
	border-top:1px solid #ccc;
	margin-top: 5px; 
	margin-bottom: 5px;
}
/* Top Menu */
[class*="sa-top-"] {
    width:40px;
    height:23px;
    float:left;
}
.sa-top-time {
    background-image:url(../images/time.png);
}
.sa-top-help {
    background-image:url(../images/help.png);
}
.sa-top-topo {
	background-image:url(../images/topos.png);
}
.sa-top-lock{
    background-image:url(../images/btn_sd.png);
}
.sa-top-unlock{
    background-image:url(../images/btn_js.png);
}
.sa-top-fScreen{
    background-image:url(../images/fullScreen.png);
}
/* Editor */
[class*="editor-"] {
    width:13px;
    height:22px;
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}
.editor-text {
    background-image:url(../img/editor/text.png);
}
.editor-bold {
    background-image:url(../img/editor/bold.png);
}
.editor-italic {
    background-image:url(../img/editor/italic.png);
}
.editor-underline {
    background-image:url(../img/editor/underline.png);
}
.editor-unstyle {
    background-image:url(../img/editor/unstyle.png);
}
.editor-unlist {
    background-image:url(../img/editor/unlist.png);
}
.editor-orderlist {
    background-image:url(../img/editor/orderlist.png);
}
.editor-align {
    background-image:url(../img/editor/align.png);
}
.editor-line-height {
    background-image:url(../img/editor/line-height.png);
}
.editor-table {
    background-image:url(../img/editor/table.png);
}
.editor-link {
    background-image:url(../img/editor/link.png);
}
.editor-picture {
    background-image:url(../img/editor/picture.png);
}
.editor-video {
    background-image:url(../img/editor/video.png);
}
.editor-full-screen {
    background-image:url(../img/editor/full-screen.png);
}
.editor-code {
    background-image:url(../img/editor/code.png);
}
.editor-help {
    background-image:url(../img/editor/help.png);
}
.editor-font {
    background-image:url(../img/editor/font.png);
}
.editor-heading {
    background-image:url(../img/editor/heading.png);
}
/* List Icons */
[class*="sa-list-"] {
    display:inline-block;
    height:21px;
    width:21px;
    background-position:center;
    background-repeat:no-repeat;
}
.sa-list-add {
    background-image:url(../img/icon/add.png);
}
.sa-list-refresh {
    background-image:url(../img/icon/refresh.png);
}
.sa-list-move {
    background-image:url(../img/icon/move.png);
}
.sa-list-delete {
    background-image:url(../img/icon/delete.png);
}
.sa-list-back {
    background-image:url(../img/icon/back.png);
}
.sa-list-forwad {
    background-image:url(../img/icon/forwad.png);
}
.sa-list-day {
    background-image:url(../img/icon/day.png);
}
.sa-list-week {
    background-image:url(../img/icon/week.png);
}
.sa-list-month {
    background-image:url(../img/icon/month.png);
}
.sa-list-spam {
    background-image:url(../img/icon/spam.png);
}
.sa-list-archive {
    background-image:url(../img/icon/archive.png);
}
/* Others */
#menu-toggle {
    background-image:url(../img/icon/menu.png);
}
/* Form */
.sa-plus {
    width:13px;
    height:13px;
    background-image:url(../img/icon/plus-sm.png);
    display:inline-block;
}
/* 业务管理表格内图标 */
.business-arrow {
	padding-right: 5px;
	cursor: pointer;
	line-height: 0;
}